body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1;
  background-color: rgb(18, 18, 18);
}

.textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid rgb(230, 230, 230);
  padding: 10px;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 5px solid rgb(230, 230, 230);
  color: rgb(230, 230, 230);
}

.display-3 {
  font-size: 3rem;
}
.description {
  white-space: pre-wrap;
}

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.time-block {
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;
}

.hour {
  background-color: rgb(18, 18, 18);
  color: rgb(230, 230, 230);
  border-top: 1px dashed #000000;
}

.past {
  background-color: rgb(18, 18, 18);
  color: rgb(230, 230, 230);
}

.present {
  background-color: #4c4c4c;
  color: rgb(230, 230, 230);
}

.future {
  background-color: rgb(148, 148, 148);
  color: rgb(230, 230, 230);
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #000000;
  color: white;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}
